<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<!-- <fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button> -->
